body {
    font-family: 'ProximaNovaReg', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #392d23;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FuturaStdBold', sans-serif;
    text-transform: uppercase;
    /* line-height: 1; */
}

p {
    font-family: 'ProximaNovaReg', sans-serif;
}

img {
    width: 100%;
}

#upcoming .frame iframe {
    width: 100%;
    height: 870px;
}

#upcoming .frame {
    width: 50%;
    margin: 0 auto;
}

.bg-soft {
    /* background-color: #BFD8D5; */
}

.border-side-custom {
    border-left: 1px solid black;
}

.socmed {
    width: 100%;
    height: 50px;
}

.socmed ul {
    display: table;
    margin: auto;
    padding: 0;
    list-style: none;
}

.socmed ul li {
    display: inline-block;
    width: 3em;
    padding: .3em .3em .4em;
}

.socmed ul li:first-child {
    text-align: center;
}

.socmed ul li:last-child {
    text-align: center;
}

.socmed ul li a i {
    color: black;
    font-size: 2em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'ProximaNovaReg';
    src: url('../fonts/ProximaNovaReg.eot');
    src: url('../fonts/ProximaNovaReg.eot') format('embedded-opentype'),
        url('../fonts/ProximaNovaReg.woff2') format('woff2'),
        url('../fonts/ProximaNovaReg.woff') format('woff'),
        url('../fonts/ProximaNovaReg.truetype') format('truetype'),
        url('../fonts/ProximaNovaReg.svg#ProximaNovaReg') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegIt';
    src: url('../fonts/ProximaNovaRegIt.eot');
    src: url('../fonts/ProximaNovaRegIt.eot') format('embedded-opentype'),
        url('../fonts/ProximaNovaRegIt.woff2') format('woff2'),
        url('../fonts/ProximaNovaRegIt.woff') format('woff'),
        url('../fonts/ProximaNovaRegIt.ttf') format('truetype'),
        url('../fonts/ProximaNovaRegIt.svg#ProximaNovaRegIt') format('svg');
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
        url('../fonts/ProximaNovaBold.woff2') format('woff2'),
        url('../fonts/ProximaNovaBold.woff') format('woff'),
        url('../fonts/ProximaNovaBold.ttf') format('truetype'),
        url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}

@font-face {
    font-family: 'FuturaStdBold';
    src: url('../fonts/FuturaStdBold.eot');
    src: url('../fonts/FuturaStdBold.eot') format('embedded-opentype'),
        url('../fonts/FuturaStdBold.woff2') format('woff2'),
        url('../fonts/FuturaStdBold.woff') format('woff'),
        url('../fonts/FuturaStdBold.ttf') format('truetype'),
        url('../fonts/FuturaStdBold.svg#FuturaStdBold') format('svg');
}

@font-face {
    font-family: 'BebasNeueReg';
    src: url('../fonts/BebasNeue-Regular');
    src: url('../fonts/BebasNeue-Regular.eot') format('embedded-opentype'),
        url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

/* Additional */
:root {
    --app-height: 100%;
}

.full-height {
    height: 100vh !important;

    @media not all and (hover: hover) {
        height: var(--app-height);
    }
}

.mc-auto {
    margin: auto !important
}

.bg-white {
    background-color: #fff;
}

.img-partner {
    width: 70%;
}

.img-lg {
    width: 100%;
}

.img-md {
    width: 80%;
}

.img-sm {
    width: 70%;
}

.img-xs {
    width: 60%;
}

.border-reset {
    border-radius: 0 !important;
    border-color: transparent !important;
}

.border-none {
    border-radius: 0 !important;
}

.container-inner-text {
    width: 70%;
    margin: 0 auto;
}

.container-inner-text img {
    width: 100%;
    height: auto;
    margin: 1em 0 1em;
}

.container-inner-form {
    width: 50%;
    margin: 0 auto;
}

.partners {
    width: 80%;
    margin: 2em auto;
}

.partners .partner-col-20 {
    width: 20%;
    float: left;
}

.partners .partner-col-25 {
    width: 25%;
    float: left;
}

.header-custom {
    padding: 3.5em 0 1em;
    /* background-color: #e9ecef; */
}

.contact-us form input.half {
    width: 50%;
}

.contact-us form {
    padding: 2em 1em 5em;
}

/* form {
    background-color: #f8f9fa;
} */
form input, form textarea, form button {
    border-radius: 0 !important;
}

.header-custom h1 {
    margin-bottom: .1em;
}

.navbar-toggler {
    border-radius: 0;
    /* border-color: #0f0f0f; */
}

.navbar-toggler:focus {
    outline: transparent !important;
}

nav .navbar-brand {
    color: #000000 !important;
}

.navbar-nav .nav-item .nav-link, .navbar-nav .dropdown .dropdown-menu .dropdown-item {
    font-family: 'BebasNeueReg';
    letter-spacing: .2em;
}

.navbar-scroll {
    background-color: #FFFFFF !important;
}

.navbar-scroll .dropdown .dropdown-menu .dropdown-item {
    color: #c1c1c1 !important;
}

.navbar-scroll .nav-item .nav-link {
    color: #C1C1C1 !important;
}

.navbar-scroll .nav-item .nav-link:hover {
    color: #9ACCC7 !important;
}

.navbar-scroll .dropdown .dropdown-menu {
    border-radius: 0 !important;
    background-color: #FFFFFF !important;
    border: 0 !important;
}

.navbar-scroll .dropdown .dropdown-menu .dropdown-item:hover {
    color: #9ACCC7 !important;
    background-color: transparent !important;
}

.navbar-transparent {
    background-color: transparent !important;
}

.navbar-transparent .dropdown .dropdown-menu {
    border-radius: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
}

.navbar-transparent .nav-item .nav-link {
    color: #FFFFFF !important;
}

.navbar-transparent .nav-item .nav-link:hover {
    color: #c9c9c9 !important;
}

.navbar-transparent .dropdown .dropdown-menu .dropdown-item {
    color: #FFFFFF !important;
    border-radius: 0 !important;
}

.navbar-transparent .dropdown .dropdown-menu .dropdown-item:hover {
    color: #c9c9c9 !important;
    background-color: transparent !important;
}

.navbar-transparent .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-scroll .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark {
    background-color: #FFFFFF !important;
}

.navbar-dark .nav-item .nav-link {
    color: #C1c1c1 !important;
}

.navbar-dark .nav-item .nav-link:hover {
    color: #9ACCC7 !important;
}

.navbar-dark .dropdown .dropdown-menu {
    border-radius: 0 !important;
    background-color: #FFFFFF !important;
    border: 0 !important;
}

.navbar-dark .dropdown .dropdown-menu .dropdown-item {
    color: #c1c1c1 !important;
    border-radius: 0 !important;
}

.navbar-dark .dropdown .dropdown-menu .dropdown-item:hover {
    color: #9ACCC7 !important;
}

/* SUBSCRIBE */
.subscribe {
    width: 50%;
    margin: auto;
}

/* JUMBOTRON */
.jumbotron {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.front-background {
    background: url('../img/header.png') center no-repeat;
    /* background-repeat: no-repeat;
    background-position: center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.front-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* background-color: rgba(0, 0, 0, .3); */
    background-image: linear-gradient(to bottom right, #287550, #4C8981);
    opacity: .2;
    z-index: 0;
}

.jumbotron .navbar-nav .nav-item .nav-link {
    color: #FFF;
    font-family: 'BebasNeueReg';
    letter-spacing: .2em;
}

.jumbotron .navbar-nav .nav-item .nav-link .active {
    color: #9ACCC7;
}

.jumbotron .front-logo {
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* transform: translate(-50%,-50%); */
}

.jumbotron .front-logo img {
    width: 15em;
    index: -1;
}

.jumbotron .front-text {
    position: absolute;
    z-index: 1;
    bottom: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* transform: translate(-50%,-50%); */
}

.jumbotron .front-text p {
    font-size: 1.1em;
    color: #FFFFFF;
    text-align: center;
    font-family: 'FuturaStdBold'
}

.jumbotron .front-arrow {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    opacity: 1;
    cursor: pointer;
}

.jumbotron .front-container-btn {
    position: absolute;
    bottom: 25%;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 1;
}

.jumbotron .front-container-btn ul {
    display: table;
    margin: auto;
    list-style: none;
    padding: 0;
}

.jumbotron .front-container-btn ul li {
    display: inline-block;
    margin: 0 5em;
    padding: .3em .3em .4em;
}

/* .jumbotron .front-container-btn ul li {
    width: 210px;
} */
.jumbotron .front-container-btn ul li a {
    font-family: 'FuturaStdBold';
    font-size: .8em;
    width: 250px;
}

.scroll-margin {
    margin-top: 3.3em;
}

.scroll-color-header {
    color: black !important;
}

/* PADDING AND MARGIN */
.m-auto {
    margin: auto;
}

.bold {
    font-weight: bold;
}

/* FONTs */
.default-text p {
    font-family: 'ProximaNovaReg';
    text-align: center;
    letter-spacing: .3px;
}

.default-text p.header {
    font-family: 'FuturaStdBold';
    text-align: center;
    display: block;
    font-size: .8em;
}

.default-text .normal-text {
    text-transform: capitalize;
}

/* .default-text h1,
.default-text h2,
.default-text h3,
.default-text h4,
.default-text h5,
.default-text h6 {
    text-align: center;
} */
.btn-custom {
    padding: 10px 20px;
    background-color: #9ACCC7;
    /* background-image: linear-gradient(to bottom right, #87CCAD  , #4C8981); */
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 !important;
    font-family: 'FuturaStdBold';
    font-size: .8em;
}

/* .btn-custom:focus, .btn-custom:active {
  border: 0px !important;
  outline: 0 !important;
  border-radius: 0 !important;
} */
.input-custom {
    border-radius: 0 !important;
}

.page-item.active .page-link {
    background-color: #00c4de !important;
}

.form-control {
    box-shadow: none !important;
}

.card a {
    text-decoration: none;
}

.card {
    border-radius: 0 !important;
}

.card-article {
    border-radius: 0 !important;
    margin-bottom: 1.9em;
}

.card-article img.broder-none {
    border-radius: 0 !important;
    /* height: 180px; */
}

.card-article .card-body h1, .card-body h2, .card-body h3, .card-body h4, .card-body h5, .card-body h6, .card-body h7, .card-body p {
    color: #000;
}

.card-team {
    /* background-color: #e7e7e7; */
}

.page-item .page-link {
    border-radius: 0 !important;
    color: #000;
}

/* Animate */
@keyframes bounce {
    0%, 100% {
        bottom: 25px;
    }

    50% {
        bottom: 40px;
    }

    /* 60% {bottom: 35px;}*/
}

.transitions {
    transition: all 700ms;
}

.bounce {
    animation: bounce 1.5s infinite;
}

/* FOOTER */
.footer-text h1,
.footer-text h2,
.footer-text h3,
.footer-text h4,
.footer-text h5, .footer-text h6 {
    font-family: 'FuturaStdBold', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer p, footer p a {
    color: #FFFFFF;
}

footer {
    /* background-image: url('../img/robi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; */
    background-image: linear-gradient(to bottom right, #87CCAD, #4C8981);
    height: auto;
}

footer .logo {
    width: 7em;
    /* margin: auto; */
}

footer .footer-nav {
    margin: 0 auto;
    /* width: 50%; */
}

footer .footer-nav ul {
    padding: 0;
}

footer .footer-nav ul li {
    list-style: none;
}

footer .footer-nav ul li a {
    color: #FFFFFF;
}

footer .footer-nav ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.socmed-footer {
    width: 100%;
    /* text-align: -webkit-center; */
    /* text-align: center; */
}

.socmed-footer ul {
    display: table;
    padding: 0;
    list-style: none;
}

.socmed-footer ul li {
    display: inline-block;
    width: 3em;
    padding: .3em .3em .4em;
}

.socmed-footer ul li:first-child {
    text-align: center;
}

.socmed-footer ul li:last-child {
    text-align: center;
}

.socmed-footer ul li a i {
    color: #FFFFFF;
    font-size: 2em;
}

.socmed-footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.socmed-footer a:hover {
    text-decoration: none;
    color: #000000;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-inner-form {
        width: 70%;
    }

    .container-inner-text {
        width: 80%;
    }

    .jumbotron .front-container-btn ul li {
        margin: 0 3em;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-inner-form {
        width: 70%;
    }

    .container-inner-text {
        width: 85%;
    }

    .partners {
        width: 100%;
        margin: 0 auto;
    }

    .jumbotron .front-text {
        bottom: 30%;
    }

    .jumbotron .front-container-btn ul li {
        display: inline-block;
        margin: 0 .5em;
        padding: .1em .1em .1em;
    }

    .jumbotron .front-container-btn ul li a {
        width: 220px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-inner-form {
        width: 80%;
    }

    .container-inner-text {
        width: 90%;
    }

    .partners .partner-col-20 {
        width: 50%;
        padding: 0 2em;
    }

    .partners .partner-col-25 {
        width: 50%;
        padding: 1em;
    }

    #upcoming .frame {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .border-side-custom {
        border-left: none;
    }

    .jumbotron .front-logo {
        bottom: 35%;
    }

    .jumbotron .front-logo img {
        width: 12em;
    }

    .jumbotron .front-text {
        bottom: 40%;
    }

    .jumbotron .front-text p {
        font-size: .8em;
    }

    .jumbotron .front-container-btn {
        bottom: 15%;
    }

    .jumbotron .front-container-btn ul li {
        display: inline-block;
    }

    .jumbotron .front-container-btn ul li a {
        font-size: .8em;
        height: 40px;
        padding: 15px !important;
        width: 220px;
    }

    footer .logo {
        margin: inherit;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .input-custom {
        width: 100% !important;
    }

    .btn-custom {
        font-size: 14px;
    }

    .subscribe .input-group-append {
        margin: 0;
        width: 100% !important;
    }

    .subscribe input {
        margin-bottom: 10px !important;
    }

    .subscribe .btn-custom {
        width: 100% !important;
    }

    .container-inner-form {
        width: 95%;
    }

    .container-inner-text {
        width: 95%;
    }

    #upcoming .frame {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .partners .partner-col-20 {
        width: 100%;
        padding: 0 5em 0;
    }

    .partners .partner-col-25 {
        width: 100%;
        padding: 0 3em 0;
    }

    .border-side-custom {
        border-left: none;
    }

    /* .jumbotron .front-text {
        bottom: 30%;
    } */
    .jumbotron .front-logo img {
        width: 10em;
    }

    .jumbotron .front-container-btn {
        bottom: 15%;
    }

    .jumbotron .front-container-btn ul li {
        display: inline-block;
        margin: 0 1em;
    }

    .jumbotron .front-container-btn ul li a {
        font-size: .8em;
        height: 40px;
        padding: 15px !important;
        width: 250px;
    }

    .jumbotron .front-text p {
        font-size: .8em;
    }

    footer .logo {
        margin: inherit;
    }
}

@media (max-width: 472px) {
    /* .jumbotron .front-logo {
        bottom: 50%;
    } */
}

@media (max-width: 428px) {
    .jumbotron .front-text {
        bottom: 35%;
    }

    .jumbotron .front-container-btn {
        bottom: 15%;
    }

    .partners .partner-col-20 {
        padding: 0 2em 0;
    }
}
